* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

body{
    cursor: none;
}

#main 
{

    height: 200%;
    width: 200%;

}

img{
    height: 50px;
    position: fixed;
    transform: translate(-50%,-50%);
}