* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

h1{
    font-size: 100px;
    padding: 20px 30px;
    background-color: rgb(78, 83, 87);
    border-radius: 10px;
}